<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
        <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<nav>
    <div>
    <a class="logo" href="/">Ghost link</a></div>
    <div>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</nav>

<div class="container">
    <div class="text-typing">
        <p>Error 404&nbsp;</p>
    </div>

<div class="form" >
   <p class="inpt">URL NOT FOUND</p>
                    <a href="/" name="Shortcut" class="btn">Go back!</a></div>
    </div>
</body>
</html>