<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghost link</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<nav>
    <div>
    <a class="logo">Ghost link</a></div>
    <div>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</nav>

<div class="container">
    <div class="text-typing">
        <p>Welcome to Ghost link&nbsp;</p>
    </div>
    <form class="form" method="post" action="./shorted/">
            {% csrf_token %}
        <input type="text" name="long_url" placeholder="exemple.com" class="inpt" autocomplete="off">
        <button type="submit" name="Shortcut" class="btn">Ghost It!</button>
    </form>
</div>


</body>
</html>