<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghost link</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
<nav>
    <div class="nav">
    <a class="logo" href="/">Ghost link</a></div>
    <div class="nav">
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</nav>

<div class="container">
    <div class="text-typing">
        <p>Your shorted link is ready&nbsp;</p>
    </div>
     <div class="form" method="post" action="./shorted/">
    <p class="inpt" id="url">{{ url }}</p>
         <button class="btn" type="button" onclick="copy('{{ url }}')" id="cpy">Copy</button>
    </div>
</div>
</body>
</html>