<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghost link</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
    <link rel="shortcut icon" href="/static/img/logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav>
    <div>
    <a class="logo" href="/">Ghost link</a></div>
    <div>
        <a href="https://github.com/Elhabdo/"  target="_blank"><i class="fa fa-github" style="font-size:30px;color: white"></i></a>
        <a href="https://www.linkedin.com/in/abdelmounaim-elhaila-88a3a71a0/"  target="_blank"><i class="fa fa-linkedin" style="font-size:30px;color: white"></i></a>
        <a href="#"  target="_blank"><i class="fa fa-code" style="font-size:30px;color: white"></i></a>
    </div>
</nav>

<div class="container">
    <div class="text-typing">
        <p>{{ msg }}&nbsp;</p>
    </div>
     <div class="form">
    <p class="inpt" id="url">{{ url }}</p>
         <button class="btn" type="button" onclick="copy('{{ url }}')" id="cpy">Copy</button>
    </div>
</div>

</body>
</html>